<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Hello world</h1>
{% for rub in rubrics %}
<p><a href="{{ rub.get_absolute_url }}">{{rub.name}}</a></p>
{% endfor %}

{% for b in bbs%}
<h2><a href="{{ b.get_absolute_url }}">{{b.title}}</a> - {{b.price}}</h2>
</h3>{{b.title_and_price}}</h3>
{% endfor %}
</body>
</html>